*{
  font-family: Helvetica, Arial, sans-serif;
}

html, body{
  padding: 0;
  margin:0;
  background-color: #fbff004d;
}
@media only screen and (max-width: 500px) {
  .card-grid{
    flex-grow: 1 !important;
    justify-content: center;
  }
  .card{
    width: 90% !important;
  }
  .add_category_content {
    flex-direction: column !important;
    width: 80% !important;
    margin: 0px 10% !important;
    height: 100px !important;
  }
  .add_category_content .category_message {
    width: 65% !important;
    margin: 0px 10% !important;
  }
  .add_category_content .input_class {
    width: 80% !important;
    padding: 2px;
    margin: 20px 9%;
  }

}
.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 3;
}
.card{
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  width: 32%;
}
.card img{
  height: 80%;
}
.card p{
  padding: 5px;
  height: 20%;
  text-align: center;
}

.card img{
  max-height: 170px;
}
.add_category_content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: solid 1px #000000;
  width: 70%;
  margin: 0px 15%;
  justify-content: center;
  background-color: #000000;
  color: white;
  border-radius: 0px 0px 10px 10px;
  height: 60px;
}

.add_category_content .category_message {
  font-size: 15px;
  width: 25%;
}

.add_category_content .input_class{
  color: grey; 
    font-size: 1.2 rem;
    width: 100%;
    border-radius: 2.5px;
    border: solid 1px white;
    height: 20px;
    padding: 2px;
    margin: 10px 10px 7px 6px;
}
.add_category_content .input_class{
  color: grey;
  font-size: 1.2 rem;
  width: 100%;
  border-radius: 2.5px;
  border: solid 1px grey;
  height: 20px;
  padding: 2px;
  margin: 15px 5px 5px 15px ;
}
.welcome-component{
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  background-color: #000000;
  justify-content: center;
}

.welcome-component .first-content{
  align-self: center;
  color: white;
  margin-top: 15px;
}
.first-content p{
  margin:0;
}
.first-content hr{
  color:white;
  background-color: white;
  margin-top: 5px;
  height: 0.1px;
}
.category-content{
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-self: center;
  margin: 0 5%;
}
.category-content .category-title{
  font-size: 20px;
  font-weight: 900;

}